name: test_consultation
on:
  push:
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Download sources
      uses: actions/checkout@v5

    - name: Set up NodeJS
      uses: actions/setup-node@v6
      with:
        node-version: 24
        cache: npm
        cache-dependency-path: moz-todo-react/package-lock.json

    - name: Install frontend dependencies
      run: |
        cd moz-todo-react
        npm install
    - name: Generate sample
      run: |
        mkdir moz-todo-react/public
        npx --yes dummy-json moz-todo-react/sample_data.hbs > moz-todo-react/public/sample_data.json 
    - name: Build frontend
      run: |
        cd moz-todo-react
        npm run build
    - name: Save frontend build for later
      uses: actions/upload-artifact@v4
      with:
        name: frontend-build
        path: moz-todo-react/dist
    
  measure_ecoindex:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download sources
        uses: actions/checkout@v5
      - name: Start application
        uses: ./.github/actions/start
      - name: Install GreenIT analysis CLI
        run: |
          wget https://github.com/cnumr/GreenIT-Analysis-cli/archive/refs/heads/master.zip
          unzip master.zip
          cd GreenIT-Analysis-cli-master
          npm install
          npm link
      - name: Run GreenIT Analysis CLI
        run: |
          greenit analyse --format html --ci scenarios/consult_edt.yml
      - name: Save results
        uses: actions/upload-artifact@v4
        with:
          name: EcoIndex
          path: Consulterl'emploidutemps.html